nav ul {
	margin: 0px;
	list-style-type: none;
	float: right;
	padding-top: 40px;
	padding-right: 80px;
	padding-bottom: 0px;
	padding-left: 0px;
}
nav ul li a {
	text-decoration: none;
	width: 120px;
	color: #FFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	display: block;
	background-color: #000;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
nav ul li a:hover {
	color: #d5000d;
}
