nav {
	background-color: #09C;
	height: 25px;
}
nav ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 530px;
}


nav ul li {
	display: inline;
}
nav ul li a {
	display: block;
	float: left;
	width: 130px;
	color: #FFF;
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding-top: 2px;
}
nav ul li a:hover {
	background-color: #12AFEB;
	color: #d5000d;
}
